* {
	margin: 0;
}

::-webkit-scrollbar {
	width: 0.25rem;
}

::-webkit-scrollbar-track {
	background: #eee;
}

::-webkit-scrollbar-thumb {
	background: #292929;
	border-radius: 99px;
}

.app {
	background: #fafafa;
}

.app__headerImage {
	object-fit: contain;
}

.cross {
	position: absolute;
	top: 0;
	right: 2%;
	font-size: 20px;
	cursor: pointer;
}

.app__header {
	background: white;
	padding: 10px 20px;
	border-bottom: 1px solid lightgray;
	position: sticky;
	left: 0;
	top: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
}

.app__signup {
	display: flex;
	flex-direction: column;
}

.app__posts {
	position: sticky;
	padding: 5px 10px;
	top: 57px;
	margin: auto;
	margin-top: 0;
}

.max__width {
	max-width: 850px;
	margin: auto;
	display: flex;
}

@media only screen and (max-width: 786px) {
	.max__width {
		flex-direction: column;
	}

	.app__posts {
		position: static;
	}
}
