*{
  margin: 0;
}

.app{
  background: #fafafa;
}

.app__headerImage{
  object-fit: contain;
}

.app__header{
  background: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}

.app__signup{
  display: flex;
  flex-direction: column;
}